.container {
  display: flex;
  flex-direction: column;
  background-color: aqua;
}
.list {
  display: flex;
  flex-direction: column;
}
.buttons {
  display: flex;
  flex-direction: row-reverse;
  margin-top: 60px;
  margin-right: 60px;
}
